<h1>Structural Directives - ngFor</h1>
<h1>Employee List</h1>
<table class="table table-borederd">
    <thead>
        <tr>
           <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; index as i; first as f; last as l; even as e; odd as o"
        [style.background]="e ? 'yellow' : 'red'">
            <td>{{ e }}</td>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.email }}</td>
        </tr>
    </tbody>
</table>