<button class="btn btn-outline-primary btn-block" (click)="toggle()"  >
    {{buttonName}}
</button>
<ng-container *ngIf="show">
    
    <table class="table" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees; index as i; first as f; last as l; even as e; odd as o"
                 [style.background]="e ? 'yellow' : 'white'">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.email}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
